@model MVCGruppuppgift.Models.news
@{
    ViewBag.Title = "Adminpage";
}
@*Sida för att hantera nyhetspuffar*@

<div id="adminNewsSection">
    <h3>Lägga till nyheter:</h3>
    @*lägga till nyhetspuffar*@
    @using (Html.BeginForm("AdminPage", "Home", FormMethod.Post))
    {
        @Html.LabelFor(model => model.programid)<br />
        @Html.DropDownListFor(x => x.programid, new SelectList(ViewBag.programList, "Value", "Text"))<br />
        <br />
        @Html.LabelFor(model => model.information)<br />
        @Html.TextAreaFor(model => model.information)<br /><br />

        <input class="btn btn-primary" type="submit" id="btnadminPage" value="Lägg till" />
    }    
        <div>
            <hr>
            @*Redigera nyhetspuffar*@
            <h3>Redigera och ta bort aktiva puffar</h3>
            <br />
            <input class="btn btn-primary" type="button" value="Redigera puffar" onclick="location.href='@Url.Action("Index", "news")'" />
        </div>
</div>
