
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width-device-width, initial scale=1.0">
    <title>@ViewBag.Title - Andreas & Erik MVC</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*Fontawesome ikoner*@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    @*Nav bar render*@
    @Html.Partial("_NavBar")

    @*Body render*@
    <div class="container body-content">
        @RenderBody()
    </div>

    <!-- footer render -->
    @Html.Partial("_Footer")
  
</body>
</html>