<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="navbar-header vertical-line">
        <a title="Till startsidan" class="navbar-brand" href="@Url.Action("Index", "Home")">
            <span><img class="mr-2" height="50" width="50" src="~/img/icon.png" />Hardcore TV</span>
        </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
            @if (Session["admin"] != null)
            {
                <li class="nav-item">
                    <a title="Hem" class="nav-link" href="@Url.Action("Index", "Home")"><i class="fas fa-home"></i>Hem</a>
                </li>
                <li class="nav-item">
                    <a title="Min Sida" class="nav-link" href="@Url.Action("MyPage", "Home")"><i class="fas fa-newspaper"></i>>Min Sida</a>
                </li>
                <li class="nav-item">
                    <a title="Redigera puffar" class="nav-link" href="@Url.Action("AdminPage", "Home")"><i class="far fa-edit"></i>Redigera puffar</a>
                </li>
                <li class="nav-item">
                    <a title="Logga ut" class="nav-link" href="@Url.Action("Logout", "Login")"><i class="fas fa-sign-in-alt"></i>Logga ut</a>
                </li>
        
               }
            else if (Session["id"] != null)
            {
                <li class="nav-item">
                    <a title="Hem" class="nav-link" href="@Url.Action("Index", "Home")"><i class="fas fa-home"></i>Hem</a>
                </li>
            <li class="nav-item">
                <a title="Min Sida" class="nav-link" href="@Url.Action("MyPage", "Home")"><i class="fas fa-newspaper"></i>Min Sida</a>
            </li>
            <li class="nav-item">
                <a title="Logga ut" class="nav-link" href="@Url.Action("Logout", "Login")"><i class="fas fa-sign-in-alt"></i>Logga ut</a>
            </li>
            }
            else
            {
                <li class="nav-item">
                    <a title="Hem" class="nav-link" href="@Url.Action("Index", "Home")"><i class="fas fa-home"></i>Hem</a>
                </li>
            <li class="nav-item">
                <a title="Registrera" class="nav-link" href="@Url.Action("Register", "person")"><i class="fas fa-pen"></i>Registrera</a>
            </li>
            <li class="nav-item">
                <a title="Logga in" class="nav-link" href="@Url.Action("Login", "Login")"><i class="fas fa-sign-in-alt"></i>Logga in</a>
            </li>
            }
        </ul>        
    </div>
</nav>
